body {
    overflow-x: hidden;
    font-weight: 100;
}

a, .btn {
    outline: none !important;
}

.navbar-default {
    font-family: sans-serif;
    background-color: black;
}

.nav-a {
    color: white !important;
}

.text {
    text-indent: 2ch;
    padding-top: 20px;
    padding-bottom: 15px;
}

.featured {
    background-color: #0099FF;
    color: white;
    height: 800px;
    border: 2px white solid;
}
.logo {
    width: 200px;
}

.info {
    margin: 0 auto;
    max-width: 700px;
}

.main {
    padding: 15px;
    transition: .5s;
}

.main:hover {
    color: black;
}
.pin1{
    padding-top: 150px;
    padding-bottom: 50px;
}
.border{
    border: 2px #0099FF solid;
    border-bottom: none;
    border-top: none;
}
.additon {
    background-color: white;
    padding: 50px;
}
.area1{
    background: url("../images/img1.png") no-repeat;
    width: 100%;
    background-size: 100% auto;
    height: 300px;
}
.pin2{
    font-weight: 600;
    padding-top: 100px;
    color: white;
}


footer{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #242424;
    color: white;
    padding: 30px;
}